*
!.gitignore
!experiments/
!experiments/**
!fitnessfunctions/
!fitnessfunctions/**
!paramFiles/
!paramFiles/**
!geneticDataFiles/
!geneticDataFiles/**
!objects/
!objects/redlightobject.cpp
!geneticDataFiles/fitness.log
